<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/4047f569-1a98-47db-9ef7-287c4cf32bde/resourceGroups/localiza_lab/providers/Microsoft.Web/sites/localiza-labs</ResourceId>
    <ResourceGroup>localiza_lab</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>https://localiza-labs.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>localiza-labs.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>localiza-labs</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$localiza-labs</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>